.quemsomos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
}

.container-text {
  text-align: center;
  width: 70%;
}

.quemsomos img {
  width: 410px;
  border-radius: 10px;
  margin-bottom: 10px;
}


