@import url("componentes/comum.css");
@import url("componentes/pontos.css");
@import url("componentes/quemsomos.css");
@import url("componentes/reciclavel.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #2E6835;
    --secound-color: #F8F8F8;
    --black-font: #000000;
    --white-font: #FFFFFF;
    --font-style: "Inter", sans-serif;
}

body{
    font-family: var(--font-style);
    background-color: var(--secound-color);
}


/* HEADER */

.logo-header {
    background-image: url(/assets/recycle.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .1s;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px;
    background-color: #2E6835;
}

.nav-list ul{
    display: flex;
    gap: 25px;
    list-style-type: none;

}

.nav-list ul a{
    text-decoration: none;
    color: var(--white-font);
    font-weight: 500;
    transition: all .3s;
}

.nav-list ul a:hover {
    color: #dddddd;
}

.logo-header:hover {
    transform: scale(.9);
}

/* MAIN */

.content-primary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.text-primary {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.text-primary h1 {
    font-size: 68px;
}

.text-primary p {
    font-size: 25px;
    width: 400px;
}

.left-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.button-moreContent a{
    background-color: #2E6835;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.button-more {
    font-family: "Holtwood One SC", serif;
    text-decoration: none;
    color: var(--white-font);
}


.img-primary {
    background-image: url(/assets/word-primary.png);
    width: 450px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .1s;
}

.img-primary:hover {
    transform: scale(0.9);
}

/* secound */

.content-secound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--white-font);
    gap: 50px;
    padding: 40px 40px;
}

.text-secound {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.text-secound p {
    font-size: 22px;
}

.text-secound h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Holtwood One SC", serif;
}

.button-pointContent a{
    background-color: var(--secound-color);
    color: var(--black-font);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.button-point {
    font-family: "Holtwood One SC", serif;
    text-decoration: none;
    color: var(--white-font);
}

/* third */

.content-third {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 40px 40px;
}

.text-third {
    text-align: center;
}

.text-third h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Holtwood One SC", serif;
}

.text-third p {
    font-size: 22px;
}

/* .option-image {
    width: 200px;
    height: 200px;
    background-color: #FE2;
}

.content {
    display: flex;

}

.option-text {
    width: 35%;
} */


footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
  }
  